#projects {
    .title {
        margin-top: 5%;
        text-align: center;

        @media screen and (max-width: 640px) {
            margin-top: 10%;
        }
       
        h1 {
            font-family: "Poppins", sans-serif;
            font-size: 2.5rem;
            font-weight: 600;
        }

        .sub-title {
            font-family: "Raleway", sans-serif;
            font-weight: 300;
        }
    }

    .project-section {
        margin-top: 4%;
        background-color: black;

        @media screen and (max-width: 640px) {
            margin-top: 10%;
        }

        .project-cards-section {
            padding: 8%;
            padding-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            @media screen and (max-width:1000px) {
                padding: 3%;
            }

            @media screen and (max-width:640px) {
                padding: 8%;
            }

            .project-item {
                flex-basis: 400px;
                margin-bottom: 5%;

                @media screen and (max-width:1000px) {
                    flex-basis: 350px;
                }

               @media screen and (max-width:640px) {
                    margin-bottom: 10%;
                }

                .project-card {
                    width: 350px;
                    height: 300px;
                    border-radius: 5%;
                    padding: 8% 6%;
                    background-color: white;
                    transition: all 0.3s ease-in;

                    @media screen and (max-width: 640px) {
                        width: 320px;
                    }
    
                    .p-title {
                        font-family: "Poppins", sans-serif;
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
    
                    .p-subTitle {
                        font-family: "Raleway", sans-serif;
                        font-weight: 300;
                        padding-top: 8px;
                    }
    
                    .p-description {
                        font-family: "Montserrat", sans-serif;
                        font-weight: 400;
                        text-align: justify;
                        padding-top: 6%;
                        letter-spacing: 0.5px;
                        line-height: 1.6;
                    }
    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

    }
}